In [0]:
import pandas as pd
# Create dataframe
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

In [0]:
df = pd.DataFrame(data)

In [0]:
display(df)

Company,Person,Sales
GOOG,Sam,200
GOOG,Charlie,120
MSFT,Amy,340
MSFT,Vanessa,124
FB,Carl,243
FB,Sarah,350

In [0]:
bycomp=df.groupby('Company')

In [0]:
bycomp.describe()

In [0]:
bycomp.mean()

,Sales
Company,
FB,296.5
GOOG,160.0
MSFT,232.0

In [0]:
bycomp.describe().transpose()['GOOG']

Out[9]: Sales  count      2.000000
       mean     160.000000
       std       56.568542
       min      120.000000
       25%      140.000000
       50%      160.000000
       75%      180.000000
       max      200.000000
Name: GOOG, dtype: float64